﻿@model Website.Models.CreateInstructorModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Home", FormMethod.Post, new {id="frmId"}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Create</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.EditorForModel()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script>
        $(function () {
            $("#frmId").kendoValidator().data("kendoValidator");
        });
    </script>
}
