﻿@model Website.Models.DeleteInstructorModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <h4>Instructor</h4>
    <hr />
    @Html.EditorForModel()
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>