﻿@using System.Text
@using DataAccess.Entities
@using Kendo.Mvc.UI
@using Website.Models
@model Website.ViewModel.InstructorIndexData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Instructors</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{ Html.Kendo().Grid<InstructorModel>()
        .Name("Instructor")
        .Columns(columns =>
        {
            columns.Bound(c => c.LastName);
            columns.Bound(c => c.FirstMidName).Width(150);
            columns.Bound(c => c.HireDate).Format("{0: dd/MM/yyyy HH:mm:ss}");
            columns.Bound(c => c.OfficeAssignmentLocation).Title("Office");
            columns.Command(command => command.Custom("ViewDetails").Click("showDetails")).Width(180);
            columns.Bound(x => x.Courses)
                .ClientTemplate("#= CoursesTemplate(data.Courses) #")
                .Title("Courses").Width(240).Groupable(false);
            columns.Bound(x => x.Id)
                .ClientTemplate(@Html.ActionLink("Edit", "Edit", new { id = "#=Id#" }) + " | " +
                               @Html.ActionLink("Details", "Details", new { id = "#=Id#" }) + " | " +
                               @Html.ActionLink("Delete", "Delete", new { id = "#=Id#" }))
                .Width(200);
        })
       .ClientDetailTemplateId("template11")
       .HtmlAttributes(new { style = "height: 550px;" })
       .Scrollable()
       .Groupable()
       .Sortable()
       .Pageable(pageable => pageable
           .Refresh(true)
           .PageSizes(true)
           .ButtonCount(5))
       .DataSource(dataSource => dataSource
       .Ajax()
       .Read(read => read.Action("Instructor_Read", "Home"))
       .PageSize(5)
       )
       .Deferred()
       .Render();
}
@(Html.Kendo().Window().Name("Details")
        .Title("Customer Details")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .Width(300)
        .Deferred()
)
@section scripts
{
    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            <h2>#= LastName #</h2>
            <dl>
                <dt>City: </dt>
                <dt>Address: </dt>
            </dl>
        </div>
    </script>
    <script type="text/javascript">
        var detailsTemplate = kendo.template($("#template").html());
        function showDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var wnd = $("#Details").data("kendoWindow");
            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }
        function CoursesTemplate(item) {
            var template = "";
            for (var i = 0; i < item.length; i++) {
                template += kendo.format("{0} ,", item[i].Title);
            }
            return template.substr(0, template.length - 1);
        }
    </script>
    <script id="template11" type="text/kendo-tmpl">
        @(Html.Kendo().TabStrip()
            .Name("tabStrip_#=Id#")
            .SelectedIndex(0)
            .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
            .Items(items =>
            {
                items.Add()
                    .Text("Detail#=Id#")
                    .Content(@<text>
                                @(Html.Kendo().Grid<CourseModel>()
                                    .Name("grid#=Id#") // template expression, to be evaluated in the master context
                                    .Columns(columns =>
                                    {
                                        columns.Bound(o => o.CourseId).Title("ID").Width(100);
                                        columns.Bound(o => o.Title).Width(150);
                                    })
                                    .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(5)
                                                .Read(read => read.Action("DetailTemplate_HierarchyBinding_Courses", "Home", new { id = "#=Id#" }))
                                    )
                                    .Pageable()
                                    .Sortable()
                                    .ToClientTemplate()
                                    
                                    )
                            </text>
                            );
                        })
            .ToClientTemplate())
    </script>
}